<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('todo') %>
  <h3>게시판</h3>
  <table>
    <tr>
      <td>일정명</td>
      <td>시작일</td>
      <td>시작시간</td>
      <td>종료일</td>
    </tr>
  <% for (let i=0; i<list.length; i++) { %>
    <tr>
      <td><%=list[i].id%></td>
      <td><%=list[i].name%></td>
      <td><%=list[i].email%></td>
      <td><%=list[i].phone%></td>
    </tr>
  <% } %>  
  </table>
</body>
</html>